* {
  font-family: sans-serif;
}

body {
  background-color: #FEEBEA;
  border: 0;
  overflow: hidden;

}


h1 {
  color: white;
  font-size: 560%;
  text-align: right;
  margin: 0
}


p {
  color: white;
  font-size: 250%;
  text-align: right;
  margin: 10px;
}

.top--pic {
  position: relative;
}

.bottom--pic {
  position: relative;
}

.cloud-1 {
  right: 160px;
  bottom: 150px;
}

.cloud-2 {
  right: 360px;
  bottom: 130px
}

.cloud-3 {
  bottom: 480px;
  left: 80px;
}

.cloud-4 {
  bottom: 600px;
  left: 50px;
}

.cloud-5 {
  bottom: 1100px;
  left: 1050px;
}

.cloud-6 {
  bottom: 350px;
  left: 250px;
}

.cloud-7 {
  bottom: 260px;
  left: 410px
}

.cloud-8 {
  bottom: 640px;
  left: 350px
}

.cloud-9 {
  bottom: 850px;
  left: 85px
}

.cloud-10 {
  bottom: 1100px;
  right: 100px
}

.cloud-11 {
  bottom: 1150px;
  left: 80px
}

.section--top {
  position: relative;
  max-height: 220px;
}

.section--about {
  margin: auto;
  height: 600px;
}


.section--intro {
  background-color: lightblue;
  padding-top: 150px;
  max-width: 100%;
  height: 1300px;
  text-align: center;
}

.title {
  text-align: center;
}


.avatar {width: 60%;
border-radius: 70%;}



@media (max-width: 1260px) {

  .cloud-4 {
    left: 200px;
    bottom: 1550px;
  }
.cloud-5 {display: none;}
 .cloud-7 {display: none;}
   .cloud-8 {display: none;}
  .cloud-7 {display: none;}
   .cloud-6 {display: none;}
  .cloud-9 {display: none;}
 .cloud-10 {display: none;}
  .cloud-11 {display: none;}
}
